<div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-block">
          <img class="mx-auto d-block" src="/assets/img/logo.png" alt="">
          <h1 class="text-center">Register</h1>
          <form (submit)="onSubmit()">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" [(ngModel)]="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" [(ngModel)]="password" name="password" required>
            </div>
            <input type="submit" class="btn btn-primary btn-block" value="Submit">
          </form>
        </div>
      </div>
    </div>
  </div>